* {
    box-sizing: border-box;
}

body {
    width: 100;
    background-color: rgb(174, 159, 230);
    font-family: "verdana";
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}
.container {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav {
    background-color: rgb(255, 255, 255);
    padding: 20px;
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    transition: width 1.5s cubic-bezier(0.23, 1, 0.32, 1);
    overflow: hidden;
}
.nav.active {
    width: 350px;
    box-shadow: inset 0 2px 5px rgb(69, 20, 85);
}
.nav ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 0;
    transition: width 1.5s cubic-bezier(0.23, 1, 0.32, 1);
    opacity: 0;
}
.nav.active ul {
    width: 100%;
    opacity: 1;
}
.nav ul li {
    transform: rotateY(180deg);
    transition: transform 1.5s cubic-bezier(0.23, 1, 0.32, 1);
}
.nav.active ul li {
    transform: rotateY(0deg);
    margin: 0 10px;
}
.nav ul a {
    position: relative;
    color: rgb(0, 0, 0);
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;
}
.icon {
    background-color: transparent;
    border: 0;
    cursor: pointer;
    padding: 0;
    position: relative;
    height: 30px;
    width: 30px;
    transition: transform 1.5s cubic-bezier(0.23, 1, 0.32, 1);
}
.nav.active .icon {
    transform: rotate(720deg); 
}
.icon .line {
    background-color: rgb(76, 23, 94);
    height: 2px;
    width: 20px;
    position: absolute;
    top: 10px;
    left: 5px;
    transition: transform 1.5s cubic-bezier(0.23, 1, 0.32, 1);
}
.icon .line2 {
    top: auto;
    bottom: 10px;
}
.nav.active .line1 {
    transform: rotate(-765deg) translateY(5.5px);
}
.nav.active .line2 {
    transform: rotate(765deg) translateY(-5.5px);
}

@media only screen and (max-width: 395px) {
    .nav.active {
        width: 90vw; 
    }
    .nav ul {
        display: flex;
        list-style-type: none;
        padding: 0;
        margin: 0;
        width: 0;
        opacity: 0;
        transition: width 1.5s cubic-bezier(0.23, 1, 0.32, 1), opacity 0.8s;
        white-space: nowrap; 
    }
    .nav.active ul {
        width: 100%;
        opacity: 1;
        display: flex;
        justify-content: space-around; 
    }
    .nav ul li {
        transform: rotateY(180deg);
        transition: transform 1.5s cubic-bezier(0.23, 1, 0.32, 1);
    }
    .nav.active ul li {
        transform: rotateY(0deg);
    }
    .nav ul a {
        position: relative;
        color: rgb(0, 0, 0);
        font-size: 12px;
        font-weight: 600;
        text-decoration: none;
        transition: all 0.3s ease;
    }
    .icon {
        background-color: transparent;
        border: 0;
        cursor: pointer;
        position: relative;
        height: 30px;
        width: 30px;
        transition: transform 1.5s cubic-bezier(0.23, 1, 0.32, 1);
        flex-shrink: 0; 
    }
    .nav.active .icon {
        transform: rotate(720deg);
    }
}
